navbar {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    display: flex;
    color: rgb(164, 164, 164);
    align-items: center;
  }
  
  .nav-item {
    list-style-type: none;
  
    width: 100%;
    border-radius: 10px;
    /* border-style: solid;
    border-color: pink; */
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, scale 0.4s ease;
  }
  
  .nav-item:hover,
  .nav-link.active,
  .nav-item:has(.active) {
    color: white;
    background-color: rgb(26, 26, 26);
  }
  
  .nav-item:hover .nav-icon,
  .nav-link.active .nav-icon {
    transform: rotate(-20deg);
  }

  .nav-item:hover {
    scale: 1.03;
  }
  
  
  .nav-icon {
    transition: transform 0.3s ease;
    margin-left: 15px;
  }
  
  .link-text {
    margin-left: 10px;
    font-size: larger;
  }
  
  #sideProfileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  #sideProfileImage:hover {
    animation: nudge .4s linear;
  }
  
  #sideProfileName {
    margin-bottom: 0;
  }
  
  #sideProfileHandle {
    color: #808080;
  }
  
  #trademark {
    font-size: small;
    color: #5b5b5b;
  }

  #profileLink {
    /* width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }