.experiences-content {
    display: flex;
    flex-direction: column;
}

.experience-card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #1E1E1E;
    margin-top: 15px;
    padding: 15px;
}

.experience-card-title {
    font-size: x-large;
}