.workTogetherCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1E1E1E;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    max-width: 70%;
}

/* #contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
} */

#contact-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap; /* Allow buttons to wrap */
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .workTogetherCard {
        max-width: 90%; /* Adjust card width for smaller screens */
    }

    .responsive-contact-buttons {
        justify-content: center; /* Center align buttons on smaller screens */
    }
}

#email-contact-button {
    background-color: rgb(171, 11, 11);
}

#linkedin-contact-button {
    background-color: rgb(42, 42, 233);
}

#github-contact-button {
    background-color: black;
}

#instagram-contact-button {
    background-color: rgb(243, 24, 115);
}

#contact-button-real-image {
    width: 25px;
}

#workTogetherText {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

#cmu-text {
    color:rgb(171, 11, 11);
}

#atlassian-text {
    color:rgb(11, 79, 238);
}

#is-text, #cs-text {
    color:rgb(158, 158, 158);
}